html {
  font-family: Roboto, Arial;
  background: white;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
}

h1 {
  background-color: #cc2f2e;
  color: white;
  font-family: 'Pacifico', cursive;
	font-size: 35px;
	font-weight: normal;
  height: 50px;
  padding: 25px;
  text-align: center;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: #cc2f2e;
  color: white;
  font-family: 'Pacifico', cursive;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

iframe{

  border: none;
  width: 100%;
  height: 100%;
}

.main-title {
  background-color: #cc2f2e;
  color: white;
  font-family: 'Pacifico', cursive;
	font-size: 35px;
	font-weight: normal;
  width: 100%;
  height: 50px;
  padding: 25px;
  text-align: center;
  margin: 0;

  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  max-width: 1500px;
  margin: 0 auto;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 25px;
  height: 350px;
}

.worker-info, .options-grid {
  border-radius: 10px;
  border-width: 2px;
  border-color: #cc2f2e;
  border-style: solid;
  padding: 10px;
  margin: 25px;
}

.worker-info button {
  background-color: white;
  color: #cc2f2e;
  border-color: #cc2f2e;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  transition: background-color 0.15s, color 0.15s;
  cursor: pointer;
}

.worker-info button:hover {
  background-color: #cc2f2e;
  color: white;
}

.avatar {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 500px;
  height: 300px;
}

.people-button {
  background-color: #cc2f2e;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  transition: opacity 0.15s;
  cursor: pointer;

  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.people-button:hover {
  opacity: 0.75;
}

.services-button {
  background-color: white;
  color: #cc2f2e;
  font-size: 15px;
  border-color: #cc2f2e;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  transition: background-color 0.15s, color 0.15s;
  cursor: pointer;

  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.services-button:hover {
  background-color: #cc2f2e;
  color: white;
}

.services-button:active {
  opacity: 0.75;
}

.services-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 25px;
  height: 350px;
}

.services-table {
  width: 100%;
  margin: 5px;
}

.show-database-content {
  border-radius: 10px;
  border-width: 2px;
  border-color: #cc2f2e;
  border-style: solid;
  padding: 10px;
  margin: 25px;
}

.form-container {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  font-family: 'Pacifico', cursive;
  background-color: #cc2f2e;
  color: white;
  padding: 15px;
  height: 50px;
  text-align: center;
  margin: 0;
  font-size: 25px;
}

.form-container {
  margin-bottom: 15px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0056b3;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}