{% extends 'base.html' %}

{% block content %}
<div class="services-grid">
    <div class="show-database-content">
        <table class="services-table">
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Fecha de entrada</th>
                <th>Fecha de salida</th>
                <th>Ubicación</th>
                <th>Teléfono</th>
                <th>Precio</th>
                <th>Plazas totales</th>
                <th>Plazas disponibles</th>
            </tr>

            {% for accomodation in accomodations %}
            <tr>
                <td>{{ accomodation[0] }}</td>
                <td>{{ accomodation[1] }}</td>
                <td>{{ accomodation[2] }}</td>
                <td>{{ accomodation[3].strftime('%Y-%m-%d') }}</td>
                <td>{{ accomodation[4].strftime('%Y-%m-%d') }}</td>
                <td>{{ accomodation[5] }}</td>
                <td>{{ accomodation[6] }}</td>
                <td>{{ accomodation[7] }}</td>
                <td>{{ accomodation[8] }}</td>
                <td>{{ accomodation[9] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="form-container">
        <h2>Alojamientos</h2>
        <form action="{{ url_for('insert_accomodations') }}" method="post">
            <label>Código:</label>
            <input type="text" name="code" minlength="10" maxlength="10" value="{{ request.form['code'] }}" required>
            <label>Nombre:</label>
            <input type="text" name="name" value="{{ request.form['name'] }}">
            <label>Tipo:</label>
            <input type="text" name="type" value="{{ request.form['type'] }}">
            <label>Ubicación:</label>
            <input type="text" name="location" value="{{ request.form['location'] }}">
            <label>Fecha de entrada:</label>
            <input type="date" name="entry date" value="{{ request.form['entry date'] }}">
            <label>Fecha de salida:</label>
            <input type="date" name="departure date" value="{{ request.form['departure date'] }}">
            <label>Teléfono:</label>
            <input type="text" name="phone number" value="{{ request.form['phone number'] }}">
            <label>Plazas totales:</label>
            <input type="number" name="total_seats" min="0" max="100" value="{{ request.form['total_seats'] }}">
            <label>Plazas libres:</label>
            <input type="number" name="available_seats" min="0" max="100" value="{{ request.form['available_seats'] }}">
            <label>Precio:</label>
            <input type="number" name="price" value="{{ request.form['price'] }}">   
            
            <input type="submit" formaction="{{ url_for('update_accomodations') }}" id="select-action-button" value="Modificar">
            <input type="submit" formaction="{{ url_for('delete_accomodations') }}" id="select-action-button" value="Eliminar">
            <input type="submit" class="form-button" value="Insertar">
        </form>
    </div>
</div>
{% endblock %}