{% extends 'base.html' %}

{% block content %}
<div class="services-grid">
    <div class="show-database-content">
        <table class="services-table">
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Fecha de entrada</th>
              <th>Fecha de salida</th>
              <th>Ubicación</th>
              <th>Teléfono</th>
              <th>Precio</th>
              <th>Plazas totales</th>
              <th>Plazas disponibles</th>
              
            </tr>

            {% for accomodation in accomodations %}
                <tr>
                <td>{{ accomodation[0] }}</td>
                <td>{{ accomodation[1] }}</td>
                <td>{{ accomodation[2] }}</td>
                <td>{{ accomodation[3].strftime('%Y-%m-%d') }}</td>
                <td>{{ accomodation[4].strftime('%Y-%m-%d') }}</td>
                <td>{{ accomodation[5] }}</td>
                <td>{{ accomodation[6] }}</td>
                <td>{{ accomodation[7] }}</td>
                <td>{{ accomodation[8] }}</td>
                <td>{{ accomodation[9] }}</td>
                </tr>
            {% endfor %} 

          </table>
    </div>
    
    <div class="form-container">
        <h2>Insertar Alojamiento</h2>
        <form method="post">
            <label>Código:</label>
            <input type="text" name="code" minlength="10" maxlength="10" value="{{ request.form['code'] }}" required>
            <label>Nombre:</label>
            <input type="text" name="name" value="{{ request.form['name'] }}" required>
            <label>Tipo:</label>
            <input type="text" name="type" value="{{ request.form['type'] }}" required>
            <label>Ubicación:</label>
            <input type="text" name="location" value="{{ request.form['location'] }}" required>
            <label>Fecha de entrada:</label>
            <input type="date" name="entry date" value="{{ request.form['entry date'] }}" required>
            <label>Fecha de salida:</label>
            <input type="date" name="departure date" value="{{ request.form['departure date'] }}" required>
            <label>Teléfono:</label>
            <input type="text" name="phone number" value="{{ request.form['phone number'] }}" required>
            <label>Plazas totales:</label>
            <input type="number" name="total_seats" min="0" max="100" value="{{ request.form['total_seats'] }}" required>
            <label>Plazas libres:</label>
            <input type="number" name="available_seats" min="0" max="100" value="{{ request.form['available_seats'] }}" required>
            <label>Precio:</label>
            <input type="number" name="price" value="{{ request.form['price'] }}" required>
            <input type="submit" class="form-button" value="Guardar">
        </form>
    </div>
</div>
{% endblock %}