{% extends 'base.html' %}

{% block content %}
<div class="dashboard-grid">
    <div class="worker-info">
      <img src="{{ url_for('static', filename='avatar.jpg') }}" alt="Empleado" class="avatar">
      <h2>
        John Doe
      </h2>
      <p>
        <strong>User:</strong> johndoe
      </p>
      <p>
        <strong>Email:</strong> doe@john.com
      </p>
      <p>
        <strong>Role:</strong> Admin
      </p>
      <button>LOGOUT</button>
    </div>
    
    <div class="legal-conditions-grid">
      <div>
        <h2>Uso de tus datos personales</h2>
        <p>
          Recopilamos y utilizamos tus datos personales para mejorar tu experiencia con nuestra aplicación, 
          proporcionarte servicios personalizados y garantizar el correcto funcionamiento de nuestra plataforma. 
          Esto puede incluir:
        </p>
        <ul>
          <li><strong>Personalización:</strong> Mostrar contenido, productos o servicios relevantes según tus preferencias.</li>
          <li><strong>Análisis y mejoras:</strong> Usar tus datos para entender cómo utilizas nuestra plataforma y mejorar nuestras funciones.</li>
          <li><strong>Comunicaciones:</strong> Enviarte actualizaciones importantes, promociones o notificaciones, según tus preferencias.</li>
          <li><strong>Seguridad:</strong> Proteger tu cuenta y prevenir actividades no autorizadas.</li>
        </ul>
        <p>
          Tus datos no serán compartidos con terceros sin tu consentimiento, excepto cuando sea necesario para cumplir con la ley o con proveedores que nos ayuden a operar la aplicación.
          Puedes aceptar estas condiciones para disfrutar de una experiencia optimizada o rechazarlas, limitando el uso de tus datos según tu preferencia.
        </p>
      </div>
      
      <a href="{{ url_for('employees') }}" class="people-button">Aceptar</a>
      <a href="{{ url_for('index') }}" class="services-button">Denegar</a>
    </div>
  </div>
{% endblock %}
