{% extends 'base.html' %}

{% block content %}
<div class="services-grid">
    <div class="show-database-content">
        {% block table %}{% endblock %}
    </div>

    <div class="form-container">
        <h2>Insertar Reserva</h2>
        <form method="post" action="/bookings">
            <label>Código de Reserva:</label>
            <input type="text" id="reservation" name="reservation" value="{{ reservation or '' }}">
            <label>DNI:</label>
            <input type="text" id="dni" name="dni" value="{{ dni or '' }}">
            <label>Código de servicio:</label>
            <input type="text" id="service" name="service" value="{{ service or '' }}">

            <input type="submit" formaction="{{ url_for('table_bookings') }}" formmethod="get" id="select-table-button" value="Reservas">
            <input type="submit" formaction="{{ url_for('table_clients_bookings') }}" formmethod="get" id="select-table-button" value="Clientes">
            <input type="submit" formaction="{{ url_for('table_activities_bookings') }}" formmethod="get" id="select-table-button" value="Actividades">
            <input type="submit" formaction="{{ url_for('table_transports_bookings') }}" formmethod="get" id="select-table-button" value="Transportes">
            <input type="submit" formaction="{{ url_for('table_accomodations_bookings') }}" formmethod="get" id="select-table-button" value="Alojamientos">
            
            <input type="submit" formaction="{{ url_for('delete_reservation') }}" class="form-button" value="Eliminar">
            <input type="submit" class="form-button" value="Insertar">
        </form>
    </div>
</div>

{% endblock %}