{% extends 'base.html' %}

{% block content %}
<div class="services-grid">
    <div class="show-database-content">
        <table class="services-table">
            <tr>
              <th>DNI</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Correo electrónico</th>
            </tr>
            
            {% for client in clients %}
                </tr>
                <td>{{ client[0] }}</td>
                <td>{{ client[1] }}</td>
                <td>{{ client[2] }}</td>
                <td>{{ client[3] }}</td>
                <tr>
            {% endfor %}
          </table>
    </div>
    
    <div class="form-container">
        <h2>Insertar Cliente</h2>
        <form method="post">
            <label>DNI:</label>
            <input type="text" name="dni" value="{{ request.form['dni'] }}" required>
            <label>Nombre:</label>
            <input type="text" name="name" value="{{ request.form['name'] }}" required>
            <label>Apellidos:</label>
            <input type="text" name="surname" value="{{ request.form['surname'] }}" required>
            <label>Correo electrónico:</label>
            <input type="text" name="email" value="{{ request.form['email'] }}" required>

            <input type="submit" class="form-button" value="Guardar">
        </form>
    </div>
</div>
{% endblock %}