{% extends 'base.html' %}

{% block content %}
<div class="services-grid">
    <div class="show-database-content">
        <table class="services-table">
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo electrónico</th>
            </tr>
            <!-- 
            {% for client in clients %}
                </tr>
                <td>{{ client['ID'] }}</td>
                <td>{{ client['name'] }}</td>
                <td>{{ client['surnames'] }}</td>
                <td>{{ client['email'] }}</td>
                <tr>
            {% endfor %} 
            -->
            <tr>
                <td>45798302B</td>
                <td>Natalia Yue</td>
                <td>Gallardo Pretel</td>
                <td>nataliayuegp@gmail.com</td>
            <tr>
        </table>

    </div>

    <div class="form-container">
        <h2>Eliminar Cliente</h2>
        <form action="{{ url_for('clients') }}" method="post">
            <label>DNI:</label>
            <input type="text" name="dni" value="{{ request.form['dni'] }}" required>
    
            <input type="submit" class="form-button" value="Guardar">
        </form>
    </div>


</div>
{% endblock %}