{% extends 'base.html' %}

{% block content %}
<div class="services-grid">
    <div class="show-database-content">
        <table class="services-table">
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>DNI</th>
              <th>Correo electrónico</th>
              <th>Puesto</th>
            </tr>
            <!-- 
            {% for employee in employees %}
                </tr>
                <td>{{ employee['code'] }}</td>
                <td>{{ employee['name'] }}</td>
                <td>{{ employee['surnames'] }}</td>
                <td>{{ employee['ID'] }}</td>
                <td>{{ employee['email'] }}</td>
                <td>{{ employee['position'] }}</td>
                <tr>
            {% endfor %} 
            -->
            <tr>
                <td>1</td>
                <td>Manuel</td>
                <td>Enríquez Ledesma</td>
                <td>12345678B</td>
                <td>manuelel@gmail.com</td>
                <td>Director</td>
            <tr>
          </table>
    </div>
    
    <div class="form-container">
        <h2>Insertar Empleado</h2>
        <form action="{{ url_for('employees') }}" method="post">
            <label>Nombre:</label>
            <input type="text" name="name" value="{{ request.form['name'] }}" required>
            <label>Apellido:</label>
            <input type="text" name="surnames" value="{{ request.form['surnames'] }}" required>
            <label>DNI:</label>
            <input type="text" name="dni" value="{{ request.form['dni'] }}" required>
            <label>Correo electrónico:</label>
            <input type="text" name="email" value="{{ request.form['email'] }}" required>
            <label>Puesto:</label>
            <input type="text" name="position" value="{{ request.form['position'] }}" required>

            <input type="submit" class="form-button" value="Guardar">
        </form>
    </div>
</div>
{% endblock %}
