{% extends 'base.html' %}

{% block content %}
<div class="services-grid">
  <div class="show-database-content">
    <table class="services-table">
      <tr>
        <th>Puesto</th>
        <th>Código</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>DNI</th>
        <th>Correo electrónico</th>
        <th>Sueldo</th>
      </tr>
      
      {% for employee in employees %}
        <tr>
        <td>{{ employee[0] }}</td>
        <td>{{ employee[1] }}</td>
        <td>{{ employee[2] }}</td>
        <td>{{ employee[3] }}</td>
        <td>{{ employee[4] }}</td>
        <td>{{ employee[5] }}</td>
        <td>{{ employee[6] }}</td>
        </tr>
      {% endfor %} 
    </table>
  </div>
  
  <div class="form-container">
    <h2>Empleado</h2>
    <form action="{{ url_for('insert_employee') }}" method="post">
      <label>Código:</label>
      <input type="text" name="code" value="{{ request.form['code'] }}" required>
      <label>Nombre:</label>
      <input type="text" name="name" value="{{ request.form['name'] }}">
      <label>Apellido:</label>
      <input type="text" name="surnames" value="{{ request.form['surnames'] }}">
      <label>DNI:</label>
      <input type="text" name="dni" value="{{ request.form['dni'] }}">
      <label>Correo electrónico:</label>
      <input type="text" name="email" value="{{ request.form['email'] }}">
      <label>Puesto:</label>
      <input type="text" name="position" value="{{ request.form['position'] }}">

      <input type="submit" formaction="{{ url_for('update_employee') }}" id="select-action-button" value="Modificar">
      <input type="submit" formaction="{{ url_for('delete_employee') }}" id="select-action-button" value="Eliminar">
      <input type="submit" class="form-button" value="Insertar">
    </form>
  </div>
</div>
{% endblock %}

