<table class="services-table">
    <tr>
        <th>Código</th>
        <th>Fecha de inicio</th>
        <th>Fecha de finalización</th>
        <th>Hora de inicio</th>
        <th>Hora de finalización</th>
        <th>Nombre</th>
        <th>Ubicación</th>
        <th>Descripción</th>
        <th>Tipo</th>
        <th>Plazas totales</th>
        <th>Plazas disponibles</th>
    </tr>
    <!-- 
            {% for transport in transports %}
                </tr>
                <td>{{ ['code'] }}</td>
                <td>{{ activities['start date'].strftime('%d/%m/%Y') }}</td>
                <td>{{ activities['end date'].strftime('%d/%m/%Y') }}</td>
                <td>{{ activities['start time'].strftime('%h:%m:%s') }}</td>
                <td>{{ activities['end time'].strftime('%h:%m:%s') }}</td>
                <td>{{ activities['name'] }}</td>
                <td>{{ activities['location'] }}</td>
                <td>{{ activities['description'] }}</td>
                <td>{{ activities['type'] }}</td>
                <td>{{ activities['total_places'] }}</td>
                <td>{{ activities['available_places'] }}</td>
                <tr>
            {% endfor %} 
            -->
    <tr>
        <td>45781238D</td>
        <td>01/05/2025</td>
        <td>01/05/2025</td>
        <td>18:00:00</td>
        <td>20:00:00</td>
        <td>Museo de las Ciencias Naturales</td>
        <td>Barcelona</td>
        <td>Visita al Museo de las Ciencias Naturales</td>
        <td>Museo</td>
        <td>100</td>
        <td>50</td>
    <tr>
</table>