{% extends 'bookings.html' %}

{% block table %}
<table class="services-table">
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Fecha de entrada</th>
      <th>Fecha de salida</th>
      <th>Ubicación</th>
      <th>Teléfono</th>
      <th>Precio</th>
      <th>Plazas totales</th>
      <th>Plazas disponibles</th>
    </tr>

    {% for accomodation in accomodations %}
        <tr>
        <td>{{ accomodation[0] }}</td>
        <td>{{ accomodation[1] }}</td>
        <td>{{ accomodation[2] }}</td>
        <td>{{ accomodation[3].strftime('%Y-%m-%d') }}</td>
        <td>{{ accomodation[4].strftime('%Y-%m-%d') }}</td>
        <td>{{ accomodation[5] }}</td>
        <td>{{ accomodation[6] }}</td>
        <td>{{ accomodation[7] }}</td>
        <td>{{ accomodation[8] }}</td>
        <td>{{ accomodation[9] }}</td>
        </tr>
    {% endfor %} 
</table>
{% endblock %}