{% extends 'base.html' %}

{% block content %}
<div class="services-grid">
    <div class="show-database-content">
        <table class="services-table">
            <tr>
              <th>Código</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th>Compañía</th>
              <th>Origen</th>
              <th>Destino</th>
              <th>Tipo</th>
              <th>Plazas totales</th>
              <th>Plazas disponibles</th>
            </tr>
            <!-- 
            {% for transport in transports %}
                </tr>
                <td>{{ transport['code'] }}</td>
                <td>{{ transport['date'].strftime('%d/%m/%Y') }}</td>
                <td>{{ transport['time'].strftime('%h:%m:%s') }}</td>
                <td>{{ transport['code'] }}</td>
                <td>{{ transport['origin'] }}</td>
                <td>{{ transport['destination'] }}</td>
                <td>{{ transport['type'] }}</td>
                <td>{{ transport['total_seats'] }}</td>
                <td>{{ transport['available_seats'] }}</td>
                <tr>
            {% endfor %} 
            -->
            <tr>
                <td>1892929DOS</td>
                <td>01/05/2025</td>
                <td>10:30:00</td>
                <td>Air Europa</td>
                <td>Madrid</td>
                <td>Barcelona</td>
                <td>Avión</td>
                <td>100</td>
                <td>50</td>
            <tr>
          </table>
    </div>
    
    <div class="form-container">
        <h2>Insertar Transporte</h2>
        <form action="/guardar_tupla" method="post">
            <label>Compañía:</label>
            <input type="text" name="company" required>
            <label>Tipo:</label>
            <input type="text" name="type" required>
            <label>Fecha:</label>
            <input type="date" name="date" required>
            <label>Hora:</label>
            <input type="time" name="time" required>
            <label>Origen:</label>
            <input type="text" name="origin" required>
            <label>Destino:</label>
            <input type="text" name="destination" required>
            <label>Plazas totales:</label>
            <input type="number" name="total_seats" min="0" max="100" required/>
            <label>Plazas libres:</label>
            <input type="number" name="available_seats" min="0" max="100" required/>

            <input type="submit" class="form-button" value="Guardar">
        </form>
    </div>
</div>
{% endblock %}